.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #0069ff;
}

.vertical-menu a.active {
    background-color: #0069ff;
    color: black;
}

.bodycol {
    background-color: white
}

.footer-ser {
    width: 103%
}
@media (min-width:961px) {
    .bodycol {
        background-color: #0069ff !important
    }
    .footer-ser {
        width: 101% !important
    }
}