<div>
  <nav style="background-color: #ffffff" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header" style="padding: 0">
        <a class="navbar-brand" href="#">
          <img alt="Brand" style="width: 50%" src="./../../../assets/pwt/signup/logo-trans.png">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>Contact us</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <!-- <div class="row text-center" style=" position: fixed; bottom: 0; background-color: white; width: 100%">

    <div class="col-12 py-3 text-center">
      © 2018 Copyright:
      <a href="https://proworktree.com/"> proworktree.com </a>
    </div>
  </div> -->

</div>
