$color_1: #1ab7ea;
$color_2: #1E88E5;
$color_3: #0d6aad;
$color_4: #dbc196;
$color_5: #fff;
$color_6: #A97D50;
$color_7: #efefef;
$font_family_1: Gadugi, sans-serif;
$font_family_2: Tahoma, sans-serif;
$background_color_1: #EBC49D;
$background_color_2: #9CCB3D;
$background_color_3: #90be41;

body {
  margin: 0;
  padding: 0;
}
.logo {
  top: 0;
  margin-top: 50px;
  left: 0;
  margin-left: 50px;
  height: auto;
  width: auto;
  img {
    height: 35px;
    width: auto;
  }
}
.details {
  width: auto;
  height: auto;
  margin-top: 8%;
  margin-left: 8%;
  box-shadow: 0.1px 0.1px 2px #6e6e6e;
  border-radius: 15px;
  text-align: center;
}
#client-btn {
  margin-top: 35px;
  width: 175px;
  height: 50px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 45px;
}
table {
  width: auto;
  margin: 35px 0 25px 0;
  vertical-align: top;
  border: none !important;
  font-family: $font_family_1;
}
td {
  vertical-align: top;
  border: none !important;
  font-family: $font_family_1;
  width: 50%;
  text-align: justify;
  p {
    text-align: justify;
    margin-right: 15px;
    margin-left: 15px;
    a {
      color: $color_1;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: $color_2;
      }
    }
  }
  img {
    width: 25px;
    height: auto;
  }
}
tr {
  border: none !important;
  font-family: $font_family_1;
}
.tick {
  float: left;
  width: auto;
  height: auto;
  padding: 5px 10px 10px 0px;
}
#reg-btn {
  margin-left: 15px;
  color: $color_1;
  text-decoration: underline;
  font-size: 14pt;
  &:hover {
    color: $color_3;
  }
}
.right-panel {
  height: auto;
  width: auto;
  text-align: center;
}
.form-back {
  background: url("/assets/pwt/tree.PNG") no-repeat 50%;
  padding: 10px 50px;
  left: 0;
  margin-top: 20px;
  width: 100%;
  min-width: 350px;
  position: absolute;
  z-index: 100;
  text-align: center;
  .form-content {
    padding-top: 60%;
  }
}
#welcome {
  color: $color_4;
  font-size: 12pt;
  font-family: $font_family_2;
  margin: 0;
}
#name {
  color: $color_5;
  font-size: 18pt;
  font-family: $font_family_2;
  margin: 0;
}
form {
  margin-top: 5%;
}
.form-group {
  background: #A97D50;
}
input {
  background: #A97D50;
  &:not(.submit-btn) {
    &:focus {
      box-shadow: 0 0 10px 1px #dbc196;
      outline: none;
    }
  }
}
.form-control {
  background-color: $background_color_1 !important;
  border: none !important;
  border-radius: 5px !important;
  &::-webkit-input-placeholder {
    color: $color_6 !important;
  }
  &:-ms-input-placeholder {
    color: $color_6 !important;
  }
  &::-ms-input-placeholder {
    color: $color_6 !important;
  }
  &:-moz-placeholder {
    color: $color_6 !important;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $color_6 !important;
    opacity: 1;
  }
}

select {
  &:focus {
    box-shadow: 0 0 10px 1px #dbc196;
    outline: none;
  }
}
.captcha {
  width: auto;
  height: auto;
}
#captcha-img {
  position: relative;
  width: 100%;
  min-width: 250px;
  height: auto;
  margin: 0;
  padding: 0 0 15px 0;
}
button[type=submit] {
  width: 100%;
  background-color: $background_color_2;
  outline: none;
  border: none;
  &:hover {
    background-color: $background_color_3;
  }
  &:focus {
    background-color: $background_color_3;
  }
}
#signup-now {
  color: $color_7;
  text-decoration: underline;
  float: left;
  font-size: 10pt;
  font-family: $font_family_1;
  margin: 12px 0 auto 0;
  cursor: pointer;
  &:hover {
    color: $color_5;
  }
}
#forgot-psw {
  color: $color_4;
  text-decoration: none;
  float: right;
  font-size: 9pt;
  font-family: $font_family_1;
  margin: 15px 0 auto 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width:640px) and (max-width: 991px) {
  html {
    min-width: 468px;
  }
  body {
    min-width: 468px;
  }
  .logo {
    margin: 25px auto auto 25px;
  }
  .details {
    min-width: 225px;
    margin: 20px auto 20px 2vw;
  }
  .table-2 {
    table {
      margin: 0 0 10px 0;
    }
  }
  .right-panel {
    right: 0;
    margin-left: 5%;
    height: 100%;
    width: 100px;
    text-align: center;
    img {
      margin-top: 20px;
      position: absolute;
      width: auto;
      height: auto;
      max-width: 100px;
    }
  }
  .form-back {
    margin-top: 70%;
    width: auto;
    max-width: 100px;
    position: absolute;
    z-index: 100;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1920px) {
  .right-panel{
    img {
      margin-top: 40px;
      min-width: 300px;
    }
  }
  .form-back {
    margin-top: 350px;
  }
}
