<div class="row">
  <div class="col-12">
    <div class="content-header">Payment Page</div>
    <p class="content-sub-header">Manage the ledger with with sorting, filtering, pagination & add/edit/delete functions.</p>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">

          <div class="row mb-2">
            <div class="col-5">
              <h4 style="float:left" class="card-title ">Account: </h4>
            </div>
            <div class="col-4">
              <ng-select [items]="accountType" [markFirst]="true" placeholder="Select ledger" (add)="onAdd($event)" [(ngModel)]="defaultLedgerSelect">
              </ng-select>
            </div>
          </div>
          <br>
          <div class="row mt-3">
            <div class="col-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="ds.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                  <input class="form-control" placeholder="Start Date" name="ds" ngbDatepicker #ds="ngbDatepicker">
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="ds2.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                  <input class="form-control" placeholder="End date" name="ds2" ngbDatepicker #ds2="ngbDatepicker">
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="input-group-append">
                  <div class="input-group-text" (click)="onSelectAll()">
                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
                <div class="input-group-append">
                  <div class="input-group-text" (click)="onDeSelectAll()">
                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
                <ng-select [items]="chooseItem" [markFirst]="true" placeholder="Select Filter" [multiple]="true"  [(ngModel)]="chooseItemBox" [closeOnSelect]="false"
                  (add)="onAdd($event)" (remove)="onRemove($event)">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row" [hidden]="haveData === null ? true: null">
            <div class="col-12">
              <p>No data present</p>
            </div>
          </div>

          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
                <tr>

                  <th class="text-center">Options</th>

                  <th class="text-center">Date </th>

                  <th class="text-center"> Payment No.</th>

                  <th class="text-center"> Particular.</th>

                  <th class="text-center"> Total Amount</th>

                  <th class="text-center" [hidden]="!ColPaymentType">Payment Type </th>

                  <th class="text-center" [hidden]="!ColPaymentThrough"> Payment Through</th>

                  <th class="text-center" [hidden]="!ColChequeNO">Cheque No </th>

                  <th class="text-center" [hidden]="!ColAgainst">Against </th>

                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let list of incomingData">
                  <td class="opt">
                    <button type="button" class="btn btn-simple" (click)="editData(list._id); modal.open();">
                      <i class="fa fa-bars"></i>
                    </button>
                  </td>
                  <td> {{list.date | date}}</td>
                  <td> {{list.paymentNumber}}</td>
                  <td>
                    <tr *ngFor="let parti of list.particularsData">
                      <td>{{parti.particulars[0].id}}</td>

                    </tr>

                  </td>
                  <td>
                    <tr *ngFor="let parti of list.particularsData">

                      <td>{{parti.amount}}</td>
                    </tr>
                  </td>
                  <td [hidden]="!ColPaymentType"> {{list.paymentType}}</td>
                  <td [hidden]="!ColPaymentThrough"> {{list.paymentThrough}}</td>
                  <td [hidden]="!ColChequeNO"> {{list.chequeNumber}}</td>
                  <td [hidden]="!ColAgainst"> {{list.against}}</td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard Ends -->

