<section id="overlap-image-examples">
  <div class="row">
    <div class="col-12 mt-3 mb-3">
      <div class="content-header">Choose your package</div>
      <p class="content-sub-header">See our package</p>
    </div>
  </div>

  <div class="row" matchHeight="card">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-inverse bg-primary text-center">
        <div class="card-body">
          <div class="card-img overlap">
            <img src="assets/img/elements/14.png" alt="element 06" width="170" class="mb-1">
          </div>
          <div class="card-block">
            <h4 class="card-title">Growth</h4>
            <p class="card-text">For growing companies.</p>
          </div>
        </div>
      </div>
      <a  [routerLink]="['checkout/growth']" class="btn btn-secondary btn-lg btn-block btn-raised">proceed</a>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-inverse bg-danger text-center">
        <div class="card-body">
          <div class="card-img overlap">
            <img src="assets/img/elements/14.png" alt="element 03" width="170">
          </div>
          <div class="card-block">
            <h4 class="card-title">Booster</h4>
            <p class="card-text">For soooooooo.</p>
          </div>
        </div>
      </div>
      <a  [routerLink]="['checkout/booster']"  class="btn btn-secondary btn-lg btn-block btn-raised">Proceed</a>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-inverse bg-warning text-center">
        <div class="card-body">
          <div class="card-img overlap">
            <img src="assets/img/elements/14.png" alt="element 03" width="172">
          </div>
          <div class="card-block">
            <h4 class="card-title">Custom</h4>
            <p class="card-text">Explore our custom packages.</p>
          </div>
        </div>
      </div>
      <a  class="btn btn-secondary btn-lg btn-block btn-raised">Know more</a>

    </div>
  </div>
</section>
