<div class="main-content" style="scroll-behavior: hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <!-- heading here -->
                    <div class="header row">
                        <h2 class="title text-center col-md-6 col-md-offset-5">Ledger</h2>
                        <div class="col-md-2">
                            <ng-select [allowClear]="true" [items]="items" (selected)="selected($event)">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 title text-center ">
                            <p> Select Period:</p>
                        </div>
                        <div class="col-lg-6 title text-center">
                            <p> Select Filter:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="title text-center">From</label>
                        </div>
                        <div class="col-md-2">
                            <my-date-picker name="ydate" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                        <div class="col-md-1">
                            <label class="title text-center">To</label>
                        </div>
                        <div class="col-md-2">
                            <my-date-picker name="ydate" [options]="myDatePickerOptions"></my-date-picker>
                        </div>
                        <div class="col-md-6">
                            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" [selectedItems]="selectedItems"></angular2-multiselect>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width" ng-if="showBox">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date </th>

                                    <th> Particulars</th>

                                    <th> Voucher</th>

                                    <th> Debit Amount</th>

                                    <th> Creit Amount </th>
                                </tr>

                            </thead>
                            <tbody [hidden]="showBox">
                                <tr *ngFor="let list of LedgerData">
                                    <td>{{list.date|date}}</td>
                                    <td>{{list.ledgerName}}</td>
                                    <td>{{list.voucherType}}</td>
                                    <td>{{list.debitAmount}}</td>
                                    <td>{{list.creditAmount}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{netDebitAmount}}</td>
                                    <td>{{netCreditAmount}}</td>
                                </tr>
                                <tr style="color: rgb(128, 0, 49)">
                                    <td></td>
                                    <td></td>
                                    <td>Closing Balance</td>
                                    <td [hidden]="totalNet > 0 ">{{netCreditAmount-netDebitAmount}}</td>
                                    <td [hidden]="totalNet > 0">-</td>
                                    <td [hidden]="totalNet < 0">-</td>
                                    <td [hidden]="totalNet < 0 ">{{netDebitAmount-netCreditAmount}}</td>
                                </tr>
                                <tr style="color: green">
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{newTotalNet}}</td>
                                    <td>{{newTotalNet}}</td>
                                    <!-- <td>{{netDebitAmount netCreditAmount?netDebitAmount+accountBalance:netCreditAmount+accountBalance }}</td> -->
                                </tr>
                                <tr style="color: rebeccapurple">
                                    <td></td>
                                    <td></td>
                                    <td>Account Balance</td>
                                    <td [hidden]="totalNet < 0 ">{{newTotalNet}}</td>
                                    <td [hidden]="totalNet < 0">-</td>
                                    <td [hidden]="totalNet > 0">-</td>
                                    <td [hidden]="totalNet > 0 ">{{newTotalNet}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>