<div class="row">
  <div class="col-sm-5">
    <app-breadcrumbs [steps]="breadcrumbs"></app-breadcrumbs>
  </div>
  <div class="col-sm-5 mt-3">
    <h3>
      <b>{{paramId | titlecase}}</b>
    </h3>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row mb-2">
            <div class="col-xs-12 col-md-4">
              <ng-select [items]="ledgerNameArray" placeholder="Select ledger" (add)="onAdd($event)">
              </ng-select>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="Start Date" name="ds1" ngbDatepicker #ds1="ngbDatepicker" (ngModelChange)="startDate($event)">

                  <div class="input-group-append">
                    <div class="input-group-text" (click)="ds1.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                </div>
              </div>
              <small *ngIf="showStartDateError" class="form-text text-muted danger">
                Choose between {{companyStartingDate | date}} - {{companyEndingDate|date}}
              </small>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="End date" name="ds2" ngbDatepicker #ds2="ngbDatepicker" (ngModelChange)="endDate($event)">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="ds2.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <small *ngIf="showEndDateError" class="form-text text-muted danger">
              Choose between {{companyStartingDate | date}} - {{companyEndingDate|date}}
            </small>
          </div>
          <!-- <div class="col-xs"></div> -->

          <div class="row my-3" *ngIf="LedgerData?.length<=0">
            <div class="col-12 text-center my-3">
              <h1>No data present</h1>
            </div>
          </div>

          <div class="content table-responsive table-full-width" *ngIf="LedgerData?.length>0">
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th> Date </th>

                  <th> Particulars</th>

                  <th> Voucher</th>

                  <th> Debit Amount</th>

                  <th> Creit Amount </th>

                  <th> Actions </th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let list of LedgerData">

                  <td>{{list.date|date}}</td>
                  <td>{{list.ledgerName}}</td>
                  <td>{{list.voucherType}}</td>
                  <td>{{list.debitAmount}}</td>
                  <td>{{list.creditAmount}}</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="" (click)="deleteEntry(list.paymentdocId)">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="LedgerData?.length>0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{netDebitAmount}}</td>
                  <td>{{netCreditAmount}}</td>
                </tr>
                <tr style="color: rgb(128, 0, 49)" *ngIf="LedgerData?.length>0">
                  <td></td>
                  <td></td>
                  <td>Closing Balance</td>
                  <td [hidden]="totalNet > 0 ">{{netCreditAmount-netDebitAmount}}</td>
                  <td [hidden]="totalNet > 0">-</td>
                  <td [hidden]="totalNet < 0">-</td>
                  <td [hidden]="totalNet < 0 ">{{netDebitAmount-netCreditAmount}}</td>
                </tr>
                <tr style="color: green" *ngIf="LedgerData?.length>0">
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>{{newTotalNet}}</td>
                  <td>{{newTotalNet}}</td>
                  <!-- <td>{{netDebitAmount netCreditAmount?netDebitAmount+accountBalance:netCreditAmount+accountBalance }}</td> -->
                </tr>
                <tr style="color: rebeccapurple" *ngIf="LedgerData?.length>0">
                  <td></td>
                  <td></td>
                  <td>Account Balance</td>
                  <td [hidden]="totalNet < 0 ">{{newTotalNet}}</td>
                  <td [hidden]="totalNet < 0">-</td>
                  <td [hidden]="totalNet > 0">-</td>
                  <td [hidden]="totalNet > 0 ">{{newTotalNet}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard Ends -->
