<section id="basic-form-layouts">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form" id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
              <div class="form-body">
                <h4 class="form-section">
                  <i class="icon-shield"></i> Password Change</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">Current Password</label>
                      <input type="password" id="projectinp" class="form-control" formControlName="oldPassword">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">New password</label>
                      <input type="password" id="projectinpu1" class="form-control" formControlName="password1">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2">Reset password</label>
                      <input type="password" id="projectinput2" class="form-control" formControlName="password2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <!-- <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button> -->
                <button type="submit" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Change
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
