<div class="row" matchHeight="card" [hidden]="true">
  <!--Modal with Default options starts-->
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <ng-template #ledger let-c="close" let-d="dismiss">
            <div class="modal-body">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
              <app-ledger></app-ledger>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-outline-primary" id="openModalButton" [hidden]="true" (click)="open(ledger)">Launch demo modal</button>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wizard Starts -->
<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Receipt Forms</div>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title">{{paramId}}</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <form id="form" class="icons-tab-steps wizard-circle" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate class="mt-3">
              <wizard #wizard navBarLayout="large-empty-symbols">
                <div class="centered-content" style="margin-top:6%; width: 100%;">
                  <wizard-step stepTitle="Steptitle 1" navigationSymbol="1">
                    <div class="form-row">
                      <div class="col-md-4 offset-md-2 form-group">
                        <label>Receipt Number</label>
                        <input type="text" class="form-control" formControlName="receiptNumber">
                      </div>
                      <div class="col-md-4 form-group">
                        <label>Date</label>
                        <div class="card-body">
                          <div class="input-group">
                            <input class="form-control" placeholder="dd.mm.yyyy" name="ds" ngbDatepicker #ds="ngbDatepicker" formControlName="date">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="ds.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-4 offset-md-2 form-group">
                        <label>account</label>
                        <ng-select [items]="accountList" formControlName="account" placeholder="No particulars selected">
                          <ng-template ng-header-tmp>
                            <button style="height:70%; width:70%" type="button" class="btn btn-lg btn-outline-primary" id="openModalButton" (click)="open(ledger)">+ New Ledger</button>
                          </ng-template>
                        </ng-select>
                      </div>
                      <div class="col-md-4 form-group">
                        <label>Current balance</label>
                        <p>123456</p>
                      </div>
                    </div>

                    <div class="btn-group mt-3">
                      <button type="button" class="btn btn-secondary" nextStep>Continue</button>
                    </div>
                  </wizard-step>
                  <wizard-step stepTitle="Steptitle 2" navigationSymbol="2" class="mt-3">
                    <div class="form-row">
                      <div class="col-md-4 offset-md-2 form-group">
                        <label>Receipt type</label>
                        <select class="form-control" formControlName="receiptType">
                          <option value="general" selected>General</option>
                          <option value="salesReceipt">Sales receipt</option>
                          <option value="advanceReceipt">Advance receipt</option>
                          <option value="purchaseRefund">Purchase refund</option>
                          <option value="others">others</option>
                        </select>
                      </div>
                      <div class="col-md-4 form-group">
                        <label>Receipt Through</label>
                        <select class="form-control" formControlName="receiptThrough">
                          <option value="cash" selected>Cash</option>
                          <option value="cheque">Cheque</option>
                          <option value="Etransfe">E transfe</option>
                          <option value="others">others</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-4 offset-md-2" *ngIf=" form.get('receiptThrough').value =='cheque'">
                        <label>Cheque no.</label>
                        <input type="text" class="form-control" formControlName="chequeNumber">
                      </div>
                      <div class="col-md-4 form-group" [ngClass]="form.get('receiptThrough').value !== 'cheque' ? 'offset-md-2' : ''">
                        <label>Drawn on</label>
                        <div class="card-body">
                          <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="dd.mm.yyyy" name="ds" ngbDatepicker #ds="ngbDatepicker" formControlName="drawnOn">
                              <div class="input-group-append">
                                <div class="input-group-text" (click)="ds.toggle()">
                                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 form-group" [ngClass]="form.get('receiptThrough').value === 'cheque' ? 'offset-md-2' : ''">
                        <label>Against</label>
                        <select class="form-control" formControlName="against">
                          <option value="againstInvoice" selected>Against invoice</option>
                          <option value="againstAccount ">Against account</option>
                          <option value="againstAdvance" *ngIf=" form.get('receiptType').value =='salesReceipt'">Against advance</option>
                          <option value="advanceReceipt">Advance receipt</option>
                          <option value="others" *ngIf=" form.get('receiptThrough').value =='cash'"> others</option>
                        </select>
                      </div>
                    </div>
                    <div class="btn-group  mt-3">
                      <button type="button" class="btn btn-secondary" previousStep>Back</button>
                      <button type="button" class="btn btn-secondary" nextStep>Continue</button>
                    </div>
                  </wizard-step>
                  <wizard-step stepTitle="Steptitle 3" navigationSymbol="3">
                    <div class="col-md-10  offset-md-1">
                      <h5 class="form-group-header">
                        Particulars and Amount
                      </h5>

                      <div formArrayName="particularsData">
                        <div *ngFor="let address of formData.controls; let i=index">
                          <!-- <span>{{i + 1}}</span> -->
                          <div [formGroupName]="i">
                            <div class="block">
                              <div class="content ">
                                <div class="row">
                                  <div class="col-md-1 mt-3">
                                    <span class="fa fa-times pull-right" *ngIf="form.controls.particularsData.controls.length > 1" (click)="removeParticular(i)"></span>
                                  </div>

                                  <div class="col-lg-4 col-xs-4">
                                    <h6>Particulars</h6>
                                    <!-- <input type="text" class="form-control" formControlName="particulars"> -->
                                    <ng-select [items]="ledgerList" formControlName="particulars" placeholder="Particulars">
                                      <ng-template ng-header-tmp>
                                        <button style="height:70%; width:70%" type="button" class="btn btn-lg btn-outline-primary" id="openModalButton" (click)="open(ledger)">+ New Ledger</button>
                                      </ng-template>
                                    </ng-select>
                                    <small [hidden]="form.controls.particularsData.controls[i].controls.particulars.untouched || form.controls.particularsData.controls[i].controls.particulars.valid"
                                      class="text-danger">
                                      <span> Particulars is required</span>
                                    </small>
                                  </div>
                                  <div class="offset-lg-2 col-lg-4 offset-xs-2  col-xs-4 ">
                                    <h6>Amount</h6>
                                    <input type="text" required class="form-control" formControlName="amount" (input)="totalSum(i)">
                                    <small [hidden]="form.controls.particularsData.controls[i].controls.amount.untouched || form.controls.particularsData.controls[i].controls.amount.valid"
                                      class="text-danger">
                                      Amount is required
                                    </small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <br>
                      <div class="row">
                        <div class="offset-md-0 col-md-3">
                          <button type="button" href="javascript:void(0)" class="btn btn-raised btn-info" (click)="addParticular()" style="cursor: default">
                            Add another field +
                          </button>
                        </div>
                        <div class="offset-md-5 col-md-2">
                          <p class="p1">Total Amount: Rs.{{totalAmount}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Narration</label>
                            <textarea rows="5" class="form-control" placeholder="Here can be your description" formControlName="narration" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-inline">
                          <div class="form-group">
                            <label for="upload">Attachment:</label>
                            <div class="card-body">
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                                </div>
                                <div *ngIf="attachmentError">Error in attachment</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group  mt-3">
                      <button type="button" class="btn btn-secondary" previousStep>Back</button>
                      <button type="button" class="btn btn-secondary" resetWizard>Reset</button>
                      <button type="submit" class="btn btn-secondary">submit</button>
                    </div>
                  </wizard-step>
                </div>
              </wizard>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard Ends -->
