<section id="basic-form-layouts">
  <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-green rounded box-shadow">
      <!-- <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48"> -->
      <i class="ft-users" style="width:48px; height:48px; font-size:48px"></i>
      <div class="lh-100 ml-3">
        <h6 class=" text-white lh-100">Add helpers</h6>
        <small>You can add more helper by upgrading from
          <a style="color:white" [routerLink]="['/settings/upgrade']">here </a>
        </small>
      </div>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Write access.</h6>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Search by Email address</strong>
          You'll only be able to find a user by their email address if they are already on platform. Otherwise, please invite them
          on platform.
        </p>

      </div>
      <div class="row mt-3">
        <ng-select class="col-md-6 col-sm-8" [items]="userList" bindLabel="name" [(ngModel)]="collabAddWriteModel">
        </ng-select>
        <button href="javascript:void(0)" (click)="collabAddWrite()" class="btn btn-raised btn-primary col-md-1 col-sm-2">Add</button>
      </div>
      <div *ngFor='let writeId of writeCollabId'>
        <div class="col-12" *ngIf="writeCollabIdLength>0">
          <div class="clearfix">
            <h6>{{writeId}}
              <i class="ml-3 ft-trash-2 danger" style="cursor: pointer" (click)="removeHelper(writeId, 'write')"></i>
            </h6>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Read access.</h6>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Search by Email address</strong>
          You'll only be able to find a user by their email address if they are already on platform. Otherwise, please invite them
          on platform.
        </p>

      </div>
      <div class="row mt-3">
        <ng-select class="col-md-6 col-sm-8" [items]="userList" bindLabel="name" [(ngModel)]="collabAddReadModel">
        </ng-select>
        <button href="javascript:void(0)" (click)="collabAddRead()" class="btn btn-raised btn-primary col-md-1 col-sm-2">Add</button>
      </div>
      <div *ngFor='let readId of readCollabId'>
        <div class="col-12"  *ngIf="readCollabIdLength>0">
          <div class="clearfix">
            <h6>{{readId}}
              <i class="ml-3 ft-trash-2 danger" style="cursor: pointer" (click)="removeHelper(readId, 'read')"></i>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
