<input type="file" (change)="onFileChange($event)" multiple="false">
<div class="content table-responsive table-full-width">
  <table class="table table-responsive-md text-center">
    <!-- <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr> -->
  </table>
</div>
<button (click)="clickwaal()">Map!</button>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-block">
            <form class="icons-tab-steps wizard-circle" id="form" [formGroup]="form" novalidate class="mt-3">
              <wizard #wizard navBarLayout="large-empty-symbols">
                <div class="centered-content" style="margin: 6% 0 0 5%!important;width: 85%;">
                  <wizard-step stepTitle="Info" navigationSymbol="1">

                    <div class="form-row">
                      <div class="col-lg-5 offset-lg-1 col-sm-5 offset-sm-1 form-group">
                        <label>Invoice Number</label>
                        <span class="danger">*</span>
                        <ng-select [items]="firstRow" formControlName="invoiceNumber">
                        </ng-select>
                      </div>
                      <div class="col-lg-5 col-sm-5 form-group">
                        <label>Transportation Mode</label>
                        <ng-select [items]="firstRow" formControlName="transportationMode">
                        </ng-select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-lg-5 offset-lg-1 col-sm-5 offset-sm-1 form-group">
                        <label>Date</label>
                        <span class="danger">*</span>
                        <ng-select [items]="firstRow" formControlName="date">
                        </ng-select>
                      </div>
                      <div class="col-lg-5 col-sm-5 form-group">
                        <label>Vehicle Number</label>
                        <ng-select [items]="firstRow" formControlName="vehicleNumber">
                        </ng-select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-lg-5 offset-lg-1 col-sm-5 offset-sm-1  form-group">
                        <label>Party Name</label>
                        <span class="danger">*</span>
                        <ng-select [items]="firstRow" formControlName="partyName">
                        </ng-select>
                      </div>
                      <div class="col-lg-5 col-sm-5 form-group">
                        <label>Sales ledger</label>
                        <span class="danger">*</span>

                        <ng-select [items]="firstRow" formControlName="salesLedgerName">
                        </ng-select>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="col-lg-5 col-sm-5 offset-lg-1 offset-sm-1 form-group">
                        <label>Place of supply</label>
                        <span class="danger">*</span>
                        <ng-select [items]="firstRow" formControlName="supplyPlace">
                        </ng-select>
                      </div>
                      <div class="col-lg-5 col-sm-5 form-group">
                        <label>Type of sales</label>
                        <span class="danger">*</span>
                        <ng-select [items]="firstRow" formControlName="saleType">
                        </ng-select>
                      </div>
                    </div>

                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary" nextStep>
                        Continue
                      </button>
                    </div>
                  </wizard-step>
                  <wizard-step stepTitle="Sales-details" navigationSymbol="2" class="mt-3">
                    <div class="centered-content">
                      <div class="form-row">
                        <div class="col-md-10 offset-lg -1 offset-md-1 offset-sm-1">
                          <table class="table table-responsive-md text-center">
                            <thead>
                              <tr>
                                <th>Name of prod ser
                                  <span class="danger">*</span>
                                </th>
                                <th>Qty
                                  <span class="danger">*</span>
                                </th>
                                <th>Units
                                  <span class="danger">*</span>
                                </th>
                                <th>Rate
                                  <span class="danger">*</span>
                                </th>

                            </thead>

                            <tbody>
                              <tr>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="nameOfProduct">
                                  </ng-select>
                                </td>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="qty">
                                  </ng-select>
                                </td>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="units">
                                  </ng-select>
                                </td>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="rate">
                                  </ng-select>
                                </td>
                              </tr>
                            </tbody>
                          </table>


                          <br>
                          <table class="table table-responsive-md text-center">
                            <thead>
                              <tr>
                                <th>Sub. amt
                                  <span class="danger">*</span>
                                </th>
                                <th>GST Rate
                                  <span class="danger">*</span>
                                </th>
                                <th>Amount
                                  <span class="danger">*</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="subAmount">
                                  </ng-select>
                                </td>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="gstRate">
                                  </ng-select>
                                </td>
                                <td>
                                  <ng-select class="custom" [items]="firstRow" formControlName="amount">
                                  </ng-select>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="row mt-3">
                            <div class="col-md-7  mt-3">
                              <div class="form-group">
                                <label>Narration</label>
                                <ng-select class="custom" [items]="firstRow" formControlName="qty" formControlName="narration">
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary" previousStep>
                        Back
                      </button>
                      <button type="button" class="btn btn-secondary" resetWizard>
                        Reset
                      </button>
                      <button type="button" (click)="onSubmit(form.value)" class="btn btn-secondary" resetWizard>
                        submit
                      </button>
                    </div>
                  </wizard-step>
                </div>
              </wizard>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
