<div class="jumbotron text-center" style="background-color: #dbffd9">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">
    <strong>We have successfully received it and you can download your payment invoice in payment history .</strong>
    <br>  
    Our team has started working on your plan upgradation and it will be available to you in sometime.</p>
  <hr>
  <p>
    Having trouble?
    <a href="">Contact us</a>
  </p>
  <p class="lead">
    <button href="javascript:void(0)" [disabled]="disableClick" class="btn btn-raised btn-primary btn-lg">Transactions Page.</button><br>
  </p>
</div>