<div class="container" [hidden]="true">
  <div class="row">
    <div class="{{togglePositinonClass}}" class="panel panel-chat" style="width: 100%;">
      <div class="panel-heading" (click)="ToggleClassPreview()">
        <div class="header" style="padding: 10px 20px 0 20px;">
          <p>Live Preview</p>
          <div class="iconplace pull-right">
            <i [class]="sideArrow" (click)="TogglePositionClass()"></i>
            <i class="ft-maximize-2" (click)="expand()"></i>
          </div>

        </div>
        <div class="clearFix"></div>
      </div>
      <div class="panel-body" *ngIf="heightToggle">

      </div>
    </div>
  </div>
</div>
