<div class="container">
    <div class="row">
        <div
            class="panel panel-chat"
            style="width: 100%;"
        >
            <div
                class="panel-heading"
                (click)="ToggleClassPreview()"
            >
                <div class="header" style="padding: 10px 20px 0 20px;">
                    <p>Live Preview</p>
                    <i
                        style="color: white"
                        class="ft-maximize-2 iconplace pull-right"
                    (click)="expand()" ></i>
                </div>
                <div class="clearFix"></div>
            </div>
            <div
                class="panel-body"
                *ngIf="heightToggle"
            >

            </div>
        </div>
    </div>
</div>
