<div class="container">
  <div class="row">
    <div class="panel panel-chat" style="    width: 100%;">
      <div class="panel-heading" (click)="ToggleClassPreview()">
        <!-- Navbar (Header) Starts -->
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background-color: #1999e3;">
          <div class="container-fluid">
            <div class="navbar-header navsmall-device">

            </div>
          </div>
          <div class="navbar-container">
              asdmnakshkjhjkhkj
              <i style="color: white" class="ft-maximize-2"></i>
          </div>
        </nav> -->
        <div class="clearFix"></div>
      </div>
      <div class="panel-body" *ngIf="heightToggle">

      </div>
    </div>
  </div>
</div>
