<!-- Basic Elements start -->
<section class="basic-elements">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Gateway Of Companies </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Enter Company details</h4>
        </div>
        <div class="card-body">
          <div class="px-3">


            <form class="form" id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
              <div class="form-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="basicInput">Name of company</label>
                      <span class="danger">*</span>
                      <input type="text" disabled class="form-control" id="basicInput" placeholder="Company Name" formControlName="companyName">
                      <small class="form-text text-muted">
                        Click here to edit company name.
                      </small>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="helpInputTop">Company Pan</label>
                      <span class="danger">*</span>
                      <input type="text" class="form-control" id="helpInputTop" placeholder="Pan" formControlName="pan">
                      <small class="text-muted">eg.
                        <i>DXPDC2184T</i>
                      </small>
                      <div [ngClass]="{'error': form.controls['pan'].errors && !form.controls['pan'].pristine}">
                        <div *ngIf="form.controls['pan'].errors && !form.controls['pan'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['pan'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['pan'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="disabledInput">Email</label>
                      <span class="danger">*</span>
                      <input type="email" class="form-control" id="basicInput" placeholder="Email" formControlName="email">
                      <div [ngClass]="{'error': form.controls['email'].errors && !form.controls['email'].pristine}">
                        <div *ngIf="form.controls['email'].errors && !form.controls['email'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['email'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['email'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                      <small class="text-muted">
                        eg.
                        <i>abc@gmail.com</i>
                      </small>
                    </fieldset>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="disabledInput">Address</label>
                      <span class="danger">*</span>
                      <input type="text" class="form-control" id="basicInput" placeholder="Company address" formControlName="address">
                      <div [ngClass]="{'error': form.controls['address'].errors && !form.controls['address'].pristine}">
                        <div *ngIf="form.controls['address'].errors && !form.controls['address'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['address'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['address'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="basicInput">city</label>
                      <span class="danger">*</span>
                      <input type="text" class="form-control" id="basicInput" placeholder="Your city name" formControlName="city">
                      <div [ngClass]="{'error': form.controls['city'].errors && !form.controls['city'].pristine}">
                        <div *ngIf="form.controls['city'].errors && !form.controls['city'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['city'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['city'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="helpInputTop">State</label>
                      <span class="danger">*</span>
                      <ng-select [items]="stateList" id="state" placeholder="Select type" formControlName="state"></ng-select>

                      <div [ngClass]="{'error': form.controls['state'].errors && !form.controls['state'].pristine}">
                        <div *ngIf="form.controls['state'].errors && !form.controls['state'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['state'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['state'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="disabledInput">Phone Number</label>
                      <span class="danger">*</span>
                      <input type="text" class="form-control" id="basicInput" placeholder="Phone number" formControlName="phoneNo">
                      <div [ngClass]="{'error': form.controls['phoneNo'].errors && !form.controls['phoneNo'].pristine}">
                        <div *ngIf="form.controls['phoneNo'].errors && !form.controls['phoneNo'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['phoneNo'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['phoneNo'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="helpInputTop">Gstin</label>
                      <span class="danger">*</span>
                      <input type="text" class="form-control" id="helpInputTop" placeholder="Gstin number" formControlName="gstin">
                      <div [ngClass]="{'error': form.controls['gstin'].errors && !form.controls['gstin'].pristine}">
                        <div *ngIf="form.controls['gstin'].errors && !form.controls['gstin'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['gstin'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['gstin'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                      <small class="text-muted">eg.
                        <i>22AAAAA0000A1Z5</i>
                      </small>
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Nature of business:</label>
                      <span class="danger">*</span>
                      <input type="text" class="form-control" id="helpInputTop" placeholder="Your buisness nature" formControlName="natureOfBuisness">
                      <div [ngClass]="{'error': form.controls['natureOfBuisness'].errors && !form.controls['natureOfBuisness'].pristine}">
                        <div *ngIf="form.controls['natureOfBuisness'].errors && !form.controls['natureOfBuisness'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['natureOfBuisness'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['natureOfBuisness'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Currency:</label>
                      <span class="danger">*</span>
                      <select class="form-control" id="basicSelect" name="currency" formControlName="currency">
                        <option value="inr" selected>₹ - INR</option>
                        <option value="usd">$ - USD</option>
                      </select>
                      <div [ngClass]="{'error': form.controls['currency'].errors && !form.controls['currency'].pristine}">
                        <div *ngIf="form.controls['currency'].errors && !form.controls['currency'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['currency'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['currency'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Preferred language:</label>
                      <span class="danger">*</span>
                      <select class="form-control" id="basicSelect" name="language" formControlName="language">
                        <option value="english" selected>English</option>
                        <option value="hindi">Hindi</option>
                      </select>
                      <div [ngClass]="{'error': form.controls['language'].errors && !form.controls['language'].pristine}">
                        <div *ngIf="form.controls['language'].errors && !form.controls['language'].pristine" class="error-msg">
                          <small class="form-text text-muted danger" [hidden]="!form.controls['language'].errors.required">
                            filed is required.
                          </small>
                          <small class="form-text text-muted danger" [hidden]="!form.controls['language'].errors.patternInvalid">
                            Invalid filed.
                          </small>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Starting Date:</label>
                      <span class="danger">*</span>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="dd.mm.yyyy" name="ds" ngbDatepicker #ds="ngbDatepicker" formControlName="startDate">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="ds.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div [ngClass]="{'error': form.controls['startDate'].errors && !form.controls['startDate'].pristine}">
                          <div *ngIf="form.controls['startDate'].errors && !form.controls['startDate'].pristine" class="error-msg">
                            <small class="form-text text-muted danger" [hidden]="!form.controls['startDate'].errors.required">
                              filed is required.
                            </small>
                            <small class="form-text text-muted danger" [hidden]="!form.controls['startDate'].errors.datevalidator">
                              Invalid filed.
                            </small>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">End Date:</label>
                      <span class="danger">*</span>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="dd.mm.yyyy" name="de" ngbDatepicker #de="ngbDatepicker" formControlName="endDate">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="de.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div [ngClass]="{'error': form.controls['endDate'].errors && !form.controls['endDate'].pristine}">
                          <div *ngIf="form.controls['endDate'].errors && !form.controls['endDate'].pristine" class="error-msg">
                            <small class="form-text text-muted danger" [hidden]="!form.controls['endDate'].errors.required">
                              filed is required.
                            </small>
                            <small class="form-text text-muted danger" [hidden]="!form.controls['endDate'].errors.datevalidator">
                              Invalid filed.
                            </small>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <!-- <div class="col-xl-4 col-lg-6 col-md-12 mt-3">
                    <fieldset class="form-group">
                      <small class="text-muted">
                        <i>Please select file having size below 200kb.</i>
                      </small>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Logo:</label>
                      <div class="card-body">
                        <div class="input-group">
                          <div class="upload-btnF-wrapper">
                            <button type="button" class="btnF">Upload Logo</button>
                            <input type="file" id="avatar" (change)="onFileChange($event, 'logo')" #fileInput>
                          </div>
                        </div>
                        <div>{{logoFileName}}</div>
                        <div *ngIf="logoError" style="color: red">Max file size exceeded.</div>

                      </div>

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Signature:</label>
                      <div class="card-body">
                        <div class="input-group">
                          <div class="upload-btnF-wrapper">
                            <button type="button" class="btnF">Upload signature</button>

                            <input type="file" id="avatar" (change)="onFileChange($event, 'signature')" #fileInput>
                          </div>
                        </div>
                        <div>{{sigFileName}}</div>

                        <div *ngIf="signatureError" style="color: red">Max file size exceeded.</div>

                      </div>

                    </fieldset>
                  </div> -->
                </div>
              </div>
              <div class="row text-center">
                <button type="submit" class="btn btn-raised btn-lg pull-center btn-success" style="color: white; margin: 35px 40%">Edit details</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Inputs end -->
