<div class="row" matchHeight="card" [hidden]="true">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-body">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
              <app-pop-payment [editContentId]="editContentId"></app-pop-payment>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-outline-primary" id="openModalButton" [hidden]="true">Launch demo modal</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="content-header">Contra Page</div>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">

          <div class="row">
            <div class="col-4">
              <ng-select [items]="accountType" [markFirst]="true" placeholder="Select Account" (add)="onAccSelect($event)" [(ngModel)]="accountTypeModel">
              </ng-select>
            </div>
            <div class="col-4">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="Start Date" [minDate]="minNgbDate" [maxDate]="maxNgbDate" name="ds" ngbDatepicker #ds="ngbDatepicker" [(ngModel)]="csd"  (ngModelChange)="startDate($event)">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="ds.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                </div>
              </div>
              <small *ngIf="showStartDateError" class="form-text text-muted danger">
                Choose between {{companyStartingDate | date}} - {{companyEndingDate|date}}
              </small>
            </div>
            <div class="col-4">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="End date" [minDate]="minNgbDate" [maxDate]="maxNgbDate" name="ds2" ngbDatepicker #ds2="ngbDatepicker" [(ngModel)]="ced"  (ngModelChange)="endDate($event)">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="ds2.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                </div>
              </div>
              <small *ngIf="showEndDateError" class="form-text text-muted danger">
                Choose between {{companyStartingDate | date}} - {{companyEndingDate|date}}
              </small>
            </div>
          </div>
   <div class="row my-3 " *ngIf="incomingData?.length<=0 ">
            <div class="col-12 text-center my-3 ">
              <h1>No data present</h1>
            </div>
          </div>
          <div class="content table-responsive table-full-width"  *ngIf="incomingData?.length>0 ">
            <table class="table table-hover">
              <thead class="text-center">
                <tr>
                  <th>Date </th>

                  <th> Contra No.</th>

                  <th> Particular.</th>

                  <th> Total Amount</th>

                  <th> Cheque Number</th>

                  <th>Options</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let list of incomingData">
                  <td> {{list.date | date}}</td>
                  <td> {{list.contraNumber}}</td>
                  <td>
                    <tr *ngFor="let parti of list.particularsData">
                      <td style="border:0">{{parti.particulars}}</td>
                    </tr>
                  </td>
                  <td>
                    <tr *ngFor="let parti of list.particularsData">

                      <td style="border:0">{{parti.amount}}</td>
                    </tr>
                  </td>
                  <td> {{list.chequeNumber}}</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="" (click)="open(content, list._id)">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="" (click)="deleteEntry(list._id)">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard Ends -->
