<section>
  <div class="row">
    <div class="col-sm-12">
      <div style="float: left;">
        <app-breadcrumbs [steps]="breadcrumbs"></app-breadcrumbs>
      </div>
      <div class="mt-2">
        <p class="mt-2"> For:- {{paramId}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- <div class="card-header">
            <h4 class="card-title" id="horz-layout-colored-controls">User Profile</h4>
          </div> -->
        <div class="card-body">
          <div class="mt-3">
            <form class="form form-horizontal" id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
              <div class="form-body text-center">
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="userinput1">NAME OF GROUP: </label>
                      <div class="col-md-9">
                        <!-- pattern="^[a-z]([-']?[a-z]+)*( [a-z]([-']?[a-z]+)*)+$" -->
                        <input type="text" class="form-control" placeholder="Full name" formControlName="groupName" />

                        <div [ngClass]="{'error': form.controls['groupName'].errors && !form.controls['groupName'].pristine}">
                          <div *ngIf="form.controls['groupName'].errors && !form.controls['groupName'].pristine" class="error-msg">
                            <small class="form-text text-muted danger" [hidden]="!form.controls['groupName'].errors.required">Required field.</small>
                            <small class="form-text text-muted danger" [hidden]="!form.controls['groupName'].errors.patternInvalid">Invalid field entry.</small>
                          </div>
                        </div>
                        <small class="text-muted">eg.
                          <i>Sales @ gst 5%</i>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="userinput5">UNDER HEAD: </label>
                      <div class="col-md-9">

                        <ng-select [items]="underHeadArray" (change)="setType($event)" placeholder="Select age" formControlName="underHead">
                        </ng-select>
                        <div [ngClass]="{'error': form.controls['underHead'].errors && !form.controls['underHead'].pristine}">
                          <div *ngIf="form.controls['underHead'].errors && !form.controls['underHead'].pristine" class="error-msg">
                            <small class="form-text text-muted danger" [hidden]="!form.controls['underHead'].errors.required">Required field.</small>
                            <small class="form-text text-muted danger" [hidden]="!form.controls['underHead'].errors.patternInvalid">Invalid field entry.</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group row">
                      <label class="col-md-3 label-control" for="userinput5">TYPE: </label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" formControlName="type" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
