<img src="./../../../../assets/pwt/signup/tree.PNG" class="tree-img">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-sm-6 col-xs-7">
      <div class="logo">
        <img src="./../../../../assets/pwt/signup/logo-trans.png">

      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 details">
        <button id="client-btn" class="btn-lg btn-info">CLIENT LOGO</button>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <table class="table">
              <tr>
                <td>
                  <p class="brand">Brand
                    <a href="#">exercitaion ullamco</a> labo ris nisi ut aliquip ex ea commo do consequat. Duis aute irure dolor in reprehenderit.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    <br> Excepteur sint occaecat cupidatat nn proi-dent, sunt in culpa ptate velit ess cillum dolore eu fugiat
                    nulla pariatur. Excepteur dolore e </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 table-2">
            <table class="table">
              <tr>
                <td>
                  <div class="tick">
                    <img src="./../../../../assets/pwt/signup/tick.png">
                  </div>
                  <p>ut fugit, sed quia consequu ntur magni dolores eos qui ratione voluptatem </p>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="tick">
                    <img src="./../../../../assets/pwt/signup/tick.png">
                  </div>
                  <p>Sequi nesciunt. Neque ro quisquam est. qui dolor em ipsum </p>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="tick">
                    <img src="./../../../../assets/pwt/signup/tick.png">
                  </div>
                  <p>quia dolor sit amet consec tetur, adipisci veli </p>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#" id="reg-btn">REGISTER NOW</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-4 right-panel">
      <p class="signup-text">Sign up</p>
      <div class="colors">
        <table>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="form-back">
        <form id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="Choose a username" name="userName" formControlName="userName"
              required minlength="4" maxlength="24">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" required placeholder="Email Address" name="email" formControlName="email">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="phone" required placeholder="Phone number" name="phoneNo" formControlName="phoneNo">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="psw" required placeholder="Create password" name="password" formControlName="password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="psw2" required placeholder="Confirm Password" name="password2" formControlName="password2">
          </div>
          <div class="captcha">
            <!--Put here code from your own captcha provider-->
            <img src="./../../../../assets/pwt/signup/captcha.png" id="captcha-img">
          </div>
          <button type="submit" class="btn btn-success" value="submit" [disabled]="!form.valid">CREATE ACCOUNT</button>
        </form>
        <a id="already">Already have an account?</a>
        <a id="forgot-psw">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
