.input-style {
    height: 50px;
    border: 1px solid #aab2ac;
}

.main-head {
    width: 103%;
}

@media (max-width: 450) {
    .mobile-view {
        padding: 0 10%
    }
    .captcha {
        margin-left: -4%
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .captcha {
        margin-left: -10%
    }
    .main-head {
        width: 100%
    }
}