<div class="row" matchHeight="card" [hidden]="true">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <ng-template #ledger let-c="close" let-d="dismiss">
            <div class="modal-body">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
              <app-ledger [modalReference]="modalRef" [statePop]="'child'"></app-ledger>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <app-breadcrumbs [steps]="breadcrumbs"></app-breadcrumbs>
  </div>
  <div class="col-sm-5 mt-3">
    <h3>
      <b> {{paramId | titlecase}}
      </b>
    </h3>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-block">
            <form id="form" [formGroup]="form" novalidate class="mt-3">


              <wizard #wizard navBarLayout="large-empty-symbols">
                <div class="centered-content" style="margin-top:6%; width: 100%;">
                  <wizard-step stepTitle="Info" navigationSymbol="1">

                    <div class="mt-3">
                      <div class="row">
                        <div class="col-md-5 offset-md-3">
                          <div class="form-group">
                            <label>Contra Number</label>
                            <input type="text" class="form-control" formControlName="contraNumber">
                            <div [ngClass]="{'error': form.controls['contraNumber'].errors && !form.controls['contraNumber'].pristine}">
                              <div *ngIf="form.controls['contraNumber'].errors && !form.controls['contraNumber'].pristine" class="error-msg">
                                <small class="form-text text-muted danger" [hidden]="!form.controls['contraNumber'].errors.required">
                                  filed is required.
                                </small>
                                <small class="form-text text-muted danger" [hidden]="!form.controls['contraNumber'].errors.patternInvalid">
                                  Invalid filed.
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 offset-md-3">
                          <div class="form-group">
                            <label>Date</label>
                            <div class="card-body">
                              <div class="form-group">
                                <div class="input-group">
                                  <input class="form-control" placeholder="dd.mm.yyyy" name="ds1" (input)="dateRangeValidator('date')" ngbDatepicker #ds1="ngbDatepicker" formControlName="date"
                                    (ngModelChange)="SetDrawnOn($event)">
                                  <div class="input-group-append">
                                    <div class="input-group-text" (click)="ds1.toggle()">
                                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                    </div>
                                  </div>
                                </div>
                                <div [ngClass]="{'error': form.controls['date'].errors && !form.controls['date'].pristine}">
                                  <div *ngIf="form.controls['date'].errors && !form.controls['date'].pristine" class="error-msg">
                                    <small class="form-text text-muted danger" [hidden]="!form.controls['date'].errors.required">
                                      filed is required.
                                    </small>
                                    <small class="form-text text-muted danger" [hidden]="!form.controls['date'].errors.datevalidator">
                                      Invalid filed.
                                    </small>
                                    <small class="form-text text-muted danger" [hidden]="!form.controls['date'].errors.dateIncorrect && form.controls['date'].errors.datevalidator">
                              Date should be between company period.
                            </small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 offset-md-3">
                          <label>account</label>
                          <ng-select [items]="accountList" formControlName="account" placeholder="No particulars selected">
                            <ng-template ng-header-tmp>
                              <button style="height:70%; width:70%" type="button" class="btn btn-lg btn-outline-primary" id="openModalButton" (click)="open(ledger)">+ New ledger</button>
                            </ng-template>
                          </ng-select>
                          <div [ngClass]="{'error': form.controls['account'].errors && !form.controls['account'].pristine}">
                            <div *ngIf="form.controls['account'].errors && !form.controls['account'].pristine" class="error-msg">
                              <small class="form-text text-muted danger" [hidden]="!form.controls['account'].errors.required">
                                filed is required.
                              </small>
                              <small class="form-text text-muted danger" [hidden]="!form.controls['account'].errors.patternInvalid">
                                Invalid filed.
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="btn-group mt-3">
                        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
                      </div>
                    </div>
                  </wizard-step>
                  <wizard-step stepTitle="Bank details" navigationSymbol="2" class="mt-3">


                    <div class="mt-3">
                      <div class="row">
                        <div class="col-md-5 offset-md-3">
                          <div class="form-group">
                            <label>Cheque Number</label>
                            <input type="text" class="form-control" formControlName="chequeNumber">
                            <div [ngClass]="{'error': form.controls['chequeNumber'].errors && !form.controls['chequeNumber'].pristine}">
                              <div *ngIf="form.controls['chequeNumber'].errors && !form.controls['chequeNumber'].pristine" class="error-msg">
                                <small class="form-text text-muted danger" [hidden]="!form.controls['chequeNumber'].errors.patternInvalid">
                                  Invalid filed.
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 offset-md-3">
                          <div class="form-group">
                            <label>Drawn Bank</label>
                            <input type="text" class="form-control" formControlName="drawnBank">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 offset-md-3">
                          <div class="form-group">
                            <label>Drawn on</label>
                            <div class="card-body">
                              <div class="form-group">
                                <div class="input-group">
                                  <input class="form-control" placeholder="dd.mm.yyyy" name="ds2" ngbDatepicker (input)="dateRangeValidator('drawnOn')" #ds2="ngbDatepicker" formControlName="drawnOn">
                                  <div class="input-group-append">
                                    <div class="input-group-text" (click)="ds2.toggle()">
                                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                    </div>
                                  </div>
                                </div>
                                <div [ngClass]="{'error': form.controls['drawnOn'].errors && !form.controls['drawnOn'].pristine}">
                                  <div *ngIf="form.controls['drawnOn'].errors && !form.controls['drawnOn'].pristine" class="error-msg">

                                    <small class="form-text text-muted danger" [hidden]="!form.controls['drawnOn'].errors.datevalidator">
                                      Invalid filed.
                                    </small>
                                    <small class="form-text text-muted danger" [hidden]="!form.controls['drawnOn'].errors.dateIncorrect && form.controls['drawnOn'].errors.datevalidator">
                              Date should be between company period.
                            </small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="btn-group  mt-3">
                        <button type="button" class="btn btn-secondary" previousStep>Back</button>
                        <button type="button" class="btn btn-secondary" nextStep>Continue</button>
                      </div>
                    </div>



                  </wizard-step>
                  <wizard-step stepTitle="Amount details" navigationSymbol="3">
                    <div class="col-md-10 offset-md-1">
                      <table class="table table-responsive-md text-center">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Particulars
                              <span class="danger">*</span>
                            </th>
                            <th>
                              <th>Amount
                                <span class="danger">*</span>
                              </th>

                          </tr>
                        </thead>
                        <tbody formArrayName="particularsData">
                          <tr *ngFor="let address of formData.controls; let i=index" class="form-group" [formGroupName]="i">
                            <td>
                              <span class="fa fa-times pull-right" *ngIf="form.controls.particularsData.controls.length > 1" (click)="removeParticular(i)"></span>
                            </td>
                            <td width="45%">
                              <!-- <input type="text" class="form-control" formControlName="particulars"> -->
                              <ng-select [items]="accountList" formControlName="particulars" placeholder="Particulars">
                                <ng-template ng-header-tmp>
                                  <button style="height:70%; width:70%" type="button" class="btn btn-lg btn-outline-primary" id="openModalButton" (click)="open(ledger)">+ New Ledger</button>
                                </ng-template>
                              </ng-select>
                              <small [hidden]="form.controls.particularsData.controls[i].controls.particulars.untouched || form.controls.particularsData.controls[i].controls.particulars.valid"
                                class="text-danger">
                                <span> Particulars is required</span>
                              </small>
                            </td>
                            <td width="10%"></td>
                            <td width="45%">
                              <input type="text" required class="form-control" formControlName="amount" (input)="totalSum(i)">
                              <div [ngClass]="{'error': form.controls.particularsData.controls[i].controls.amount.errors && !form.controls.particularsData.controls[i].controls.amount.pristine}">
                                <div *ngIf="form.controls.particularsData.controls[i].controls.amount.errors && !form.controls.particularsData.controls[i].controls.amount.pristine"
                                  class="error-msg">
                                  <small class="form-text text-muted danger" [hidden]="!form.controls.particularsData.controls[i].controls.amount.errors.required">
                                    filed is required.
                                  </small>
                                  <small class="form-text text-muted danger" [hidden]="!form.controls.particularsData.controls[i].controls.amount.errors.patternInvalid">
                                    Invalid filed.
                                  </small>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <div class="row">
                        <div class="offset-md-0 col-md-3">
                          <button type="button" href="javascript:void(0)" class="btn btn-raised btn-info" (click)="addParticular()" style="cursor: default">
                            Add another field +
                          </button>
                        </div>
                        <div class="offset-md-5 col-md-2">
                          <p class="p1">Total Amount: Rs.{{totalAmount}}</p>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-xs-12 col-md-7 mt-3">
                          <div class="form-group">
                            <label>Narration</label>
                            <textarea rows="5" formControlName="narration" class="form-control" placeholder="Here can be your description" value="Mike">
                            </textarea>
                          </div>
                        </div>
                        <div class="col-xs-12 offset-xs-0 col-md-4 offset-md-1  mt-3">
                          <div class="form-group">
                            <label for="upload">Attachment</label>
                            <div class="card-body" style=" margin-left: 35px;">
                              <div class="input-group">
                                <div class="upload-btnF-wrapper">
                                  <button type="button" class="btnF">Upload Logo</button>
                                  <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                                </div>
                              </div>
                              <div style="padding-right: 25px;">{{attachmentName}}</div>
                              <div *ngIf="attachmentError" style="color: red">Max file size exceeded.</div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="btn-group  mt-3">
                      <button type="button" class="btn btn-secondary" previousStep>Back</button>
                      <button type="button" class="btn btn-secondary" resetWizard (click)="resetForm()">Reset</button>
                      <button type="button" (click)="onSubmit(form.value)" class="btn btn-secondary" [disabled]="form.invalid" resetWizard>
                        submit</button>
                    </div>
                  </wizard-step>
                </div>
              </wizard>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard Ends -->
