<section class="basic-elements">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Company List page </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="row" matchHeight="card">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img">
                  <img class="card-img-top img-fluid" src="assets/img/photos/14.jpg" alt="Card image cap">
                  <h4 class="card-title">Add New Company</h4>
                  <a class="btn btn-floating halfway-fab bg-warning">
                    <i class="ft-plus"></i>
                  </a>
                </div>
                <div class="card-block">
                  <p class="card-text">Icing powder caramels macaroon. Toffee sugar plum brownie pastry gummies jelly.</p>
                  <a [routerLink]="['/gateway/addcompany']" class="btn btn-raised btn-warning">Create Company</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12"  *ngFor="let list of companyList">
            <div class="card">
              <div class="card-body">
                <div class="card-img">
                  <img class="card-img-top img-fluid" src="assets/img/photos/14.jpg" alt="Card image cap">
                  <h4 class="card-title">{{list.companyName}}.</h4>
                  <a class="btn btn-floating halfway-fab bg-warning">
                    <i class="ft-plus"></i>
                  </a>
                </div>
                <div class="card-block mt-1">
                  <p class="card-text">Email :- {{list.email}}</p>
                  <a [routerLink]="['/dashboard/', list.companyName]" class="btn btn-raised btn-warning">View Company</a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card"  *ngFor="let list of companyList">
    <div class="card-body">
      <div class="px-3">
        <div class="row" matchHeight="card">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-img">
                  <img class="card-img-top img-fluid" src="assets/img/photos/14.jpg" alt="Card image cap">
                  <h4 class="card-title">{{list.companyName}}.</h4>
                  <a class="btn btn-floating halfway-fab bg-warning">
                    <i class="ft-plus"></i>
                  </a>
                </div>
                <div class="card-block mt-1">
                  <p class="card-text">Email :- {{list.email}}.</p>
                  <a class="btn btn-raised btn-warning">View Company</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</section>
