<ngb-alert [ngClass]="'text-center'" [type]="'success'" ngDefaultControl *ngIf="sucessShow" (close)="closeSuccessAlert(sucessShow)">{{successMessage}}</ngb-alert>
<ngb-alert [ngClass]="'text-center'" [type]="'danger'" ngDefaultControl *ngIf="errorShow" (close)="closeErrorAlert(errorShow)">{{successMessage}}</ngb-alert>
<ngb-alert [ngClass]="'text-center'" [type]="'danger'" ngDefaultControl *ngIf="netErrorShow" (close)="closeNetErrorAlert()">Error occured, please try in sometime.</ngb-alert>
<div class="row mt-3" style="width: 100%">
  <div class="offset-4 col-4 mt-3 text-center" style="background-color: #ffffff; width: 100%">
    <h3 class="mt-3">Forgot Password</h3>
    <div style="margin: 10%">
      <form id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <input type="email" class="form-control input-style" id="email" required placeholder="Email Address" name="email" formControlName="email">
        </div>
        <div class="captcha ml-2">
          <re-captcha (resolved)="resolved($event)" siteKey="6LfF-UYUAAAAAHRugifjgfPkgKCeSVY1SlViKLRF"></re-captcha>
        </div>
        <button type="submit" class="btn btn-raised btn-primary mt-3" value="submit" [disabled]="!form.valid">Send Link</button>
      </form>
      <a [routerLink]="['/app/signup']" class="pull-left">Sign Up?</a>
      <a [routerLink]="['/app/login']" class="pull-right"> Log In?</a>
    </div>
  </div>
</div>
