<form id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="main-content" style="scroll-behavior: hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- heading here -->
                        <div class="header">
                            <h2 class="title text-center">Under Group (Dr/Cr)</h2>
                        </div>

                        <div class="content tab-content" style="width: 70%; margin-left: 10%;">
                            <div class="row">
                                <div class="col-md-5 col-lg-offset-4">
                                    <div class="form-group">
                                        <label>Name of Group</label>
                                        <input type="text" class="form-control" formControlName="groupName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-lg-offset-4">
                                    <div class="form-group">
                                        <label>Under head</label>
                                        <select class="form-control" formControlName="underHead">
                                            <option value="revenue" selected> revenue (CR)</option>
                                            <option value="expense">expenses (DR)</option>
                                            <option value="sales">sales (CR)</option>
                                            <option value="purchases">purchases (DR)</option>
                                            <option value="asset">asset (DR)</option>
                                            <option value="liabilities">liabilities (CR)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-lg-offset-4">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select class="form-control" formControlName="type">
                                            <option value="cr" selected> CR</option>
                                            <option value="dr">DR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="text-align: center; margin-top: 20px">
                                <button type="submit" class="btn btn-info btn-fill ">Getting started</button>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>