.progress {
    background-color: #767676;
}

.actived {
    background-color: #f6006c;
}

::ng-deep .ui-select-match {
    border-bottom: 1px solid #e5e5e5 !important;
    width: 183px!important;
    border-bottom-left-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
}

.ui-select-search {
    width: 183px !important
}

.modal {
    background-color: rgba(0, 0, 0, 0.55);
}