<div class="row" matchHeight="card" [hidden]="true">
  <!--Modal with Default options starts-->
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Modal with Default options</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-undergroup></app-undergroup>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wizard -->
<div class="row">
  <div class="col-sm-12">
    <div class="content-header">ledger Forms</div>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title">{{paramId}}</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <form class="icons-tab-steps wizard-circle" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="mt-3">
              <wizard #wizard navBarLayout="large-empty-symbols">
                <div class="centered-content" style="margin-top:6%; width: 100%;">
                  <wizard-step stepTitle="Step 1" navigationSymbol="1">
                    <div class="row">
                      <div class="col-md-5  offset-md-3">
                        <div class="form-group">
                          <label class="text-left" for="ledgerName">Name of Ledger</label>
                          <input type="text" class="form-control" id="ledgerName" formControlName="ledgerName">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5  offset-md-3">
                        <div class="form-group">
                          <label class="text-left" for="underGroup">Under Group</label>
                          <ng-select [items]="underGroupItems" id="underGroup" placeholder="Select group" formControlName="underGroup"></ng-select>
                        </div>
                      </div>
                    </div>

                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary" nextStep>Next</button>
                    </div>

                  </wizard-step>
                  <!-- Step 2 -->
                  <wizard-step stepTitle="Step 2" navigationSymbol="2">
                    <div class="row">
                      <div class="col-md-5  offset-md-3">
                        <div class="form-group">
                          <label class="text-left" for="applicableTax">Applicable Tax</label>
                          <ng-select [items]="applicableTaxItems" id="applicableTax" placeholder="Select type" formControlName="applicableTax"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-5  offset-md-3">
                        <div class="form-group">
                          <label class="text-left" for="businessType">Business Type</label>
                          <ng-select [items]="businessTypeItems" id="businessType" placeholder="Select type" formControlName="businessType"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5  offset-md-3">
                        <div class="form-group">
                          <label class="text-left" for="gstin">GSTIN</label>
                          <input type="text" class="form-control" id="gstin" formControlName="gstin">
                        </div>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-5  offset-md-3">
                        <div class="form-group">
                          <label class="text-left" for="pan">PAN</label>
                          <input type="text" class="form-control" id="pan" formControlName="pan">
                        </div>
                      </div>
                    </div>

                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary" previousStep>Back</button>
                      <button type="button" class="btn btn-secondary" nextStep>Next</button>
                    </div>

                  </wizard-step>
                  <!-- Step 3 -->
                  <wizard-step stepTitle="Step 3" navigationSymbol="3">
                    <div class="row">
                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="name">Name</label>
                          <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="email">E-Mail</label>
                          <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="address">Address</label>
                          <input type="text" class="form-control" id="address" formControlName="address">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label for="city">City</label>
                          <input type="text" class="form-control" id="city" formControlName="city">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="state">State</label>
                          <input type="text" class="form-control" id="state" formControlName="state">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="pinCode">Pin Code</label>
                          <input type="text" class="form-control" id="pinCode" formControlName="pinCode">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label for="country">Country</label>
                          <input type="text" class="form-control" id="country" formControlName="country">
                        </div>
                      </div>

                      <div class="col-md-5  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="phoneNumber">Phone Number</label>
                          <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                        </div>
                      </div>
                    </div>
                    <div class="row text-center">
                      <div class="col-md-5">
                        <h6>Opening Balance:</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="qty">Quantity</label>
                          <input type="text" class="form-control" id="qty" formControlName="qty" (input)="updateTotal()">
                        </div>
                      </div>

                      <div class="col-md-3  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="rate">Rate</label>
                          <input type="text" class="form-control" id="rate" formControlName="rate" (input)="updateTotal()">
                        </div>
                      </div>

                      <div class="col-md-3  offset-md-1">
                        <div class="form-group">
                          <label class="text-left" for="total">Total</label>
                          <input type="text" class="form-control" id="total" formControlName="total">
                        </div>
                      </div>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary" previousStep>Back</button>
                      <button type="button" class="btn btn-secondary" resetWizard>Reset</button>
                      <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                  </wizard-step>
                </div>
              </wizard>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
