<!-- <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Modal with Default options</h4>
        </div>
        <div class="card-body">
            <div class="card-block">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal title</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-undergroup></app-undergroup>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>

                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

                <hr>
            </div>
        </div>
    </div>
</div> -->
