<section id="about" *ngIf="!profileUpdated">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header text-center mt-3">
          <h5>Please update your profile <a [routerLink]="['/settings/edit']"> here.</a></h5>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="mb-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About section starts-->
<section id="about">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5>Personal Information</h5>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="mb-3">
              <span class="text-bold-500 primary">About Me:</span>
              <span class="display-block overflow-hidden">
                {{bio}}
              </span>
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="icon-present font-small-3"></i> User Name:</a>
                    </span>
                    <span class="display-block overflow-hidden">{{userName}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-map-pin font-small-3"></i> Package updated on:</a>
                    </span>
                    <span class="display-block overflow-hidden">{{updatedAt | date}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-globe font-small-3"></i> Lives in:</a>
                    </span>
                    <span class="display-block overflow-hidden">Denver, USA</span>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-user font-small-3"></i> Gender:</a>
                    </span>
                    <span class="display-block overflow-hidden">{{gender}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-mail font-small-3"></i> Email:</a>
                    </span>
                    <a class="display-block overflow-hidden">{{email}}</a>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-monitor font-small-3"></i> Website:</a>
                    </span>
                    <a class="display-block overflow-hidden">{{website}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2"> 
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-smartphone font-small-3"></i> Phone Number:</a>
                    </span>
                    <span class="display-block overflow-hidden">{{phoneNo}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-briefcase font-small-3"></i> Occupation:</a>
                    </span>
                    <span class="display-block overflow-hidden">{{occupation}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-book font-small-3"></i> Joined:</a>
                    </span>
                    <span class="display-block overflow-hidden">{{joinedOn | date}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="card">

        <div class="card-header text-center">
          <h5>Proworktree Packages</h5>
          <h3>{{plan}}</h3>
        </div>
        <div class="card-body text-center">
          <img *ngIf="plan == 'gold'" style="margin-left:30px; height:250px; width:250px" src="./../../../assets/pwt/profile.PNG" alt="">

          <a [routerLink]="['/settings/upgrade']" class="mt-3 btn btn-raised shadow-z-2 btn-primary">  Packages</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About section ends-->
