
<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Payment Forms</div>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title">{{paramId}}</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <form class="icons-tab-steps wizard-circle" id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate class="mt-3">



                <ng-select [items]="accountList" formControlName="account" placeholder="No particulars selected">
                  </ng-select>






            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wizard Ends -->
