<!-- Basic Elements start -->
<section class="basic-elements">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Gateway Of Companies </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Enter Company details</h4>
        </div>
        <div class="card-body">
          <div class="px-3">


            <form class="form" id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
              <div class="form-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="basicInput">Name of company</label>
                      <input type="text" class="form-control" id="basicInput" placeholder="Company Name" formControlName="companyName">
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="helpInputTop">Company Pan</label>
                      <input type="text" class="form-control" id="helpInputTop" placeholder="Pan" formControlName="pan">
                      <small class="text-muted">eg.
                        <i>DXPDC2184T</i>
                      </small>
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="disabledInput">Email</label>
                      <input type="email" class="form-control" id="basicInput" placeholder="Email" formControlName="email">
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="disabledInput">Address</label>
                      <input type="text" class="form-control" id="basicInput" placeholder="Company address" formControlName="address">
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="basicInput">city</label>
                      <input type="text" class="form-control" id="basicInput" placeholder="Your city name" formControlName="city">
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="helpInputTop">State</label>
                      <input type="text" class="form-control" placeholder="Your state" formControlName="state">

                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="disabledInput">Phone Number</label>
                      <input type="text" class="form-control" id="basicInput" placeholder="Phone number" formControlName="phoneNo">
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <fieldset class="form-group">
                      <label for="helpInputTop">Gstin</label>
                      <input type="text" class="form-control" id="helpInputTop" placeholder="Gstin number" formControlName="gstin">
                      <small class="text-muted">eg.
                        <i>22AAAAA0000A1Z5</i>
                      </small>
                      <!-- <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password characters length must be between 4 and 24 !</small> -->

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Nature of business:</label>
                      <input type="text" class="form-control" id="helpInputTop" placeholder="Your buisness nature" formControlName="natureOfBuisness">
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Currency:</label>
                      <select class="form-control" id="basicSelect" name="currency" formControlName="currency">
                        <option value="inr" selected>₹ - INR</option>
                        <option value="usd">$ - USD</option>
                      </select>
                    </fieldset>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Preferred language:</label>
                      <select class="form-control" id="basicSelect" name="language" formControlName="language">
                        <option value="english" selected>English</option>
                        <option value="hindi">Hindi</option>
                      </select>
                    </fieldset>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Starting Date:</label>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="ds" ngbDatepicker #ds="ngbDatepicker" formControlName="startDate">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="ds.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">End Date:</label>
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="de" ngbDatepicker #de="ngbDatepicker" formControlName="endDate">
                            <div class="input-group-append">
                              <div class="input-group-text" (click)="de.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 mt-3">
                    <fieldset class="form-group">
                      <small class="text-muted">
                        <i>Please select file having size below 200kb.</i>
                      </small>
                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Logo:</label>
                      <div class="card-body">
                        <div class="input-group">
                          <div class="upload-btnF-wrapper">
                            <button  type="button" class="btnF">Upload Logo</button>
                            <input type="file" id="avatar" (change)="onFileChange($event, 'logo')" #fileInput>
                          </div>
                        </div>
                        <div>{{logoFileName}}</div>
                        <div *ngIf="logoError" style="color: red">Max file size exceeded.</div>

                      </div>

                    </fieldset>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <fieldset class="form-group">
                      <label for="basicSelect">Signature:</label>
                      <div class="card-body">
                        <div class="input-group">
                          <div class="upload-btnF-wrapper">
                            <button type="button" class="btnF">Upload signature</button>

                            <input type="file" id="avatar" (change)="onFileChange($event, 'signature')" #fileInput>
                          </div>
                        </div>
                        <div>{{sigFileName}}</div>
                        <!-- <div *ngIf="signatureError" >No file choosen.</div>-->

                        <div *ngIf="signatureError" style="color: red">Max file size exceeded.</div>

                      </div>

                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <button type="submit" class="btn btn-raised btn-lg pull-center btn-success" style="color: white; margin: 35px 40%">Get started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Inputs end -->
