<div style="background-color: #ffffff; position: relative; z-index: 999;">
  <div class="main-content pt-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 pt-2">

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
          <ul class="navbar-nav" style="display: inline;float: right;">
            <li class="nav-item mt-1 mr-2 ml-2">
              <a href="javascript:;" class="nav-link" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">
                <i class="{{toggleClass}} font-medium-3 headerFont" style="color: black !important"></i>
                <p class="d-none">fullscreen</p>
              </a>
            </li>

            <li class="nav-item mr-2 ml-2" ngbDropdown placement="bottom-right">
              <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                <ngx-avatar name="{{creator}}" value="28%" bgColor="#333d4f" fgColor="white" size="30" textSizeRatio="2.5" [round]="true"></ngx-avatar>

                <p class="d-none">User Settings</p>
              </a>
              <div style="position: absolute;" ngbDropdownMenu aria-labelledby="dropdownBasic3">
                <a class="dropdown-item py-1" [routerLink]="['/settings/me']">
                  <i class="fa fa-user mr-2"></i>
                  <span>My Profile</span>
                </a>
                <a class="dropdown-item py-1" [routerLink]="['/help']">
                  <i class="ft-mail mr-2"></i>
                  <span>Help</span>
                </a>
                <div class="dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item">
                  <i class="ft-power mr-2"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
