<section id="overlap-image-examples">
  <div class="card-body mb-3 ">
    <div class="card-block mt-3 mb-3 ">
      <div class="row mb-3 ">
        <div class="offset-4 col-4 mt-3 mb-3 text-center" style="background-color: #ffffff; width: 100%">
          <h3 class="mt-3">Account Activation Status</h3>
          <p class="mt-3 mb-3 " *ngIf="startChecking"> Checking validity of email.</p>
          <p class="mt-3 mb-3 " *ngIf="redirectingLogin">Verification successful, redirecting to login page.</p>
          <p class="mt-3 mb-3 " style="color: red" *ngIf="redirectingSignup">Invalid token redirecting to Signup page.</p>
        </div>
      </div>
    </div>
  </div>
</section>
