<section id="overlap-image-examples" style="margin-top:20%">
  <div class="card-body" style="background-color: white">
    <div class="card-block mt-3">
      <div class="row">
        <div class="col-12 mt-3 text-center">
          <h1 class="mt-3" *ngIf="startChecking"> Checking validity of email.</h1>
          <h1 class="mt-3" *ngIf="redirectingLogin">Verification successful, redirecting to login page.</h1>
          <h1 class="mt-3" *ngIf="redirectingSignup">Invalid token redirecting to Signup page.</h1>
        </div>
      </div>
    </div>
  </div>
</section>
