<div class="row" matchHeight="card" [hidden]="true">
  <!--Modal with Default options starts-->
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Modal with Default options</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <ng-template #ledger let-c="close" let-d="dismiss">
            <div class="modal-body">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
              <app-ledger></app-ledger>
            </div>
          </ng-template>

          <button class="btn btn-lg btn-outline-primary" id="openModalButton" [hidden]="true">Launch demo modal</button>

          <hr>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wizard Starts -->
<div class="row">
  <div class="col-sm-5">
    <app-breadcrumbs [steps]="breadcrumbs"></app-breadcrumbs>
  </div>
  <div class="col-sm-5 mt-3">
    <h3>
      <b> {{paramId | titlecase}}
      </b>
    </h3>
  </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-block">
            <form class="icons-tab-steps" id="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate class="mt-3">
              <div class="centered-content" style="margin-top:2%; width: 100%;">
                <div class="content tab-content">

                  <div class="form-row">
                    <div class="col-md-5  offset-md-4 form-group">
                      <label>Journal Number</label>
                      <input type="text" class="form-control" formControlName="journalNumber">
                    </div>
                  </div>


                  <div class="form-row">
                    <div class="col-md-5  offset-md-4 form-group">
                      <label>Date</label>
                      <div class="input-group-append">
                        <input class="form-control" placeholder="dd.mm.yyyy" name="de" ngbDatepicker #de="ngbDatepicker" formControlName="date">
                        <div class="input-group-text" (click)="de.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-10 offset-md-1">
                    <h5 class="form-group-header mb-3">
                      Details
                    </h5>
                    <div formArrayName="particularsData">
                      <div *ngFor="let address of formData.controls; let i=index">
                        <div [formGroupName]="i">
                          <div class="row col-lg-12">
                            <div class="col-md-1 mt-3">
                              <span class="fa fa-times pull-right" *ngIf="form.controls.particularsData.controls.length > 1" (click)="removeParticular(i)"></span>
                            </div>
                            <div class="col-lg-2 ">
                              <h6>Dr/Cr</h6>
                              <select class="form-control" formControlName="drcr" (click)="resetDrCr($event, i)">
                                <option value="dr" selected>DR</option>
                                <option value="cr">CR</option>
                              </select>
                            </div>
                            <div class="col-lg-3">
                              <h6>Particulars</h6>
                              <ng-select [items]="ledgerList" formControlName="particulars" placeholder="Particulars">
                                <ng-template ng-header-tmp>
                                  <button style="height:70%; width:70%" type="button" class="btn btn-lg btn-outline-primary" id="openModalButton" (click)="open(ledger)">+ New</button>
                                </ng-template>
                              </ng-select>
                              <!-- <small [hidden]="form.controls.particularsData.controls[i].controls.particulars.valid" class="text-danger">
                                <span> Particulars is required</span>
                              </small> -->
                            </div>
                            <div class="col-lg-3 ">
                              <h6>Debit Amount</h6>
                              <input type="text" required class="form-control" [attr.disabled]="address.get('drcr').value == 'dr'? null: true" (input)="totalSum(i)"
                                formControlName="debitAmount">
                              <!-- <small [hidden]="form.controls.particularsData.controls[i].controls.particulars.valid" class="text-danger">
                                Amount is required
                              </small> -->
                            </div>
                            <div class="col-lg-3 ">
                              <h6>Credit Amount</h6>
                              <input type="text" required class="form-control" [attr.disabled]="address.get('drcr').value == 'cr'? null: true" (input)="totalSum(i)"
                                formControlName="creditAmount">
                              <!-- <small [hidden]="form.controls.particularsData.controls[i].controls.particulars.valid" class="text-danger">
                                Amount is required
                              </small> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <button type="button" href="javascript:void(0)" class="btn btn-raised btn-info" (click)="addParticular()" style="cursor: default">
                          Add another field +
                        </button>
                      </div>
                      <div class=" offset-md-2 col-md-3">
                        <p class="p1">Debit Sum: Rs.{{this.debitSum}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="p1">Credit Sum: Rs {{this.creditSum}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Narration</label>
                          <textarea rows="5" formControlName="narration" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-4 col-lg-6 col-md-12 mt-3">
                        <fieldset class="form-group">
                          <p>Attachment</p>
                          <small class="text-muted">
                            <i>Please select file having size below 200kb.</i>
                          </small>
                        </fieldset>
                      </div>
                      <div class="col-xl-4 offset-lg-2 col-lg-6 col-md-12 mt-3">
                        <div class="form-inline mt-3">
                          <fieldset class="form-group">
                            <div class="card-body">
                              <div class="input-group">
                                <div class="upload-btnF-wrapper">
                                  <button type="button" class="btnF">Upload Attachment</button>
                                  <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                                </div>
                              </div>
                              <div *ngIf="attachmentError" style="color: red">Max file size exceeded.</div>
                              <div class="mt-3">{{fileName}}</div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="text-align: center; margin-top: 20px">
                    <button type="submit" class="btn btn-secondary">submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
